---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	activePath?: string;
};

const { href, activePath, class: className, ...props } = Astro.props;
const base = import.meta.env.BASE_URL;
const pathWithoutBase = Astro.url.pathname.startsWith(base)
	? Astro.url.pathname.slice(base.length - 1)
	: Astro.url.pathname;
const pathname = pathWithoutBase.replace(/\/$/, '') || '/';
const subpath = pathname.match(/[^\/]+/g);
const targetPath = (activePath || href || '/').replace(/\/$/, '') || '/';
const isActive = targetPath === pathname || targetPath === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
